1. Download VS Code and download Jupyter Notebook extension

2. Display Sum of 2 Numbers

In [9]:
# Input: Get two numbers from the user
num1 = float(input("Enter the first number: "))
num2 = float(input("Enter the second number: "))
# num1 = 2
# num2 = 3

# Process: Add the two numbers
sum = num1 + num2


# Output: Display the sum
print(f"The sum of {num1} and {num2} is {sum}")

The sum of 2.0 and 2.0 is 4.0

3. Compare Greatest and Smallest Number

In [6]:
# Program to compare two numbers and determine the greatest and smallest


# Input: Get two numbers from the user
num1 = float(input("Enter the first number: "))
num2 = float(input("Enter the second number: "))


# Process: Compare the two numbers
if num1 > num2:
    print(f"The greatest number is {num1}")
    print(f"The smallest number is {num2}")
elif num1 < num2:
    print(f"The greatest number is {num2}")
    print(f"The smallest number is {num1}")
else:
    print("Both numbers are equal.")

The greatest number is 7.0
The smallest number is 5.0

4. Check if a number is Positive or Negative or Zero

In [7]:
# Program to check if a number is Positive, Negative, or Zero


# Input: Get a number from the user
number = float(input("Enter a number: "))


# Process: Check the condition
if number > 0:
    print(f"The number {number} is Positive.")
elif number < 0:
    print(f"The number {number} is Negative.")
else:
    print("The number is Zero.")

The number 5.0 is Positive.

5. Display first 5 Natural Numbers

In [8]:
# Program to display the first five natural numbers


# Process: Use a for loop to iterate through numbers 1 to 5
print("The first five natural numbers are:")
for number in range(1, 6):
    print(number)

The first five natural numbers are:
1
2
3
4
5

6. Display data of a List

In [10]:
# Dataset
n = [1, 12, 13, 14, 15]


# Process: Use a for loop to iterate through the dataset
print("The numbers in the dataset are:")
for number in n:
    print(number)

The numbers in the dataset are:
1
12
13
14
15

7. Display string in dataset

In [11]:
# Dataset
color = ['red', 'blue', 'green']


# Process: Use a for loop to iterate through the dataset
print("The colors in the dataset are:")
for c in color:
    print(c)

The colors in the dataset are:
red
blue
green

8. Function to add 2 numbers and display the result

In [12]:
# Function to add two numbers
def add_numbers(a, b):
    """This function adds two numbers and returns the sum."""
    return a + b


# Example usage
num1 = 10
num2 = 20
result = add_numbers(num1, num2)
print(f"The sum of {num1} and {num2} is {result}")

The sum of 10 and 20 is 30

9. Create Dataset from pandas and display it

In [13]:
import pandas as pd
# creating a dataset
data = pd.DataFrame({
    'ID': [1,2,3],
    'Name' : ['Ram', 'Hari', 'Bishnu'],
    'Age': [25,35, 40]
})
print(data)

   ID    Name  Age
0   1     Ram   25
1   2    Hari   35
2   3  Bishnu   40

10. Load Dataset from csv file and display it

In [ ]:
import pandas as pd
# Load a dataset from a CSV file
data = pd.read_csv("D:\computer engineering\Semester 6\Machine Learning\datas\lab1_first_csv.csv")
print("Data loaded from the CSV file:")
print(data)

Data loaded from the CSV file:
   Age  Height
0   25   160.0
1   30    17.0
2   35   180.0
3   40     NaN
4   45   165.0
5   50   170.0

In [25]:
import pandas as pd


df = pd.read_csv("D:\computer engineering\Semester 6\Machine Learning\datas\lab1_first_csv.csv")


# a) Display the description of the dataset
print(f"DataFrame Description:\n{df.describe()}")
print()


# b) Display the shape of the dataframe
print("DataFrame Shape:\n",df.shape)
print()


# c) Display the information of the dataframe
print("DataFrame Information:\n", df.info())
print()


# d) Only the first five rows
print("DataFrame Head:\n",df.head())
print()


# e) Only the last five rows
print("DataFrame Tail:\n", df.tail())
print()


# f) Only the rows from index 3 to 5
print("DataFrame Rows from index 3 to 5:\n", df.iloc[3:6])
print()


# g) Only the column “Age”
print("DataFrame Age:\n", df['Age'])
print()


# h) Only the column “Height”
print("DataFrame Height:\n", df['Height'])
print()

DataFrame Description:
             Age     Height
count   6.000000    5.00000
mean   37.500000  138.40000
std     9.354143   68.26639
min    25.000000   17.00000
25%    31.250000  160.00000
50%    37.500000  165.00000
75%    43.750000  170.00000
max    50.000000  180.00000

DataFrame Shape:
 (6, 2)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6 entries, 0 to 5
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Age     6 non-null      int64
 1   Height  5 non-null      float64
dtypes: float64(1), int64(1)
memory usage: 228.0 bytes
DataFrame Information:
 None

DataFrame Head:
    Age  Height
0   25   160.0
1   30    17.0
2   35   180.0
3   40     NaN
4   45   165.0

DataFrame Tail:
    Age  Height
1   30    17.0
2   35   180.0
3   40     NaN
4   45   165.0
5   50   170.0

DataFrame Rows from index 3 to 5:
    Age  Height
3   40     NaN
4   45   165.0
5   50   170.0

DataFrame Age:
 0    25
1    30
2    35
3    40
4    45
5    50
Name: Age, dtype: int64

DataFrame Height:
 0    160.0
1     17.0
2    180.0
3      NaN
4    165.0
5    170.0
Name: Height, dtype: float64